<a href="https://colab.research.google.com/github/AngelicaMCorrea/projeto_2_mod_4/blob/main/proj2Mod4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr
from scipy import stats

In [ ]:
dadosFunc = np.array ([['solteiro','1°Grau',np.NaN,4.00,26,3,'interior'],
 ['casado','1°Grau',1.0,4.56,32,10,'capital'],
  ['casado','1°Grau',2.0,5.25,36,5,'capital'],
   ['solteiro','2°Grau',np.NaN,5.73,20,10,'outro'],
    ['solteiro','1°Grau',np.NaN,6,40,7,'outro']])
func = pd.DataFrame(dadosFunc,index =['1','2','3','4','5'],
                  columns=['Est.Civil', 'Inst', 'Filhos', 'Salário', 'Anos', 'Meses', 'Região'])
func.index.name='Funcionário'
func

            Est.Civil    Inst Filhos Salário Anos Meses    Região
Funcionário
1            solteiro  1°Grau    nan     4.0   26     3  interior
2              casado  1°Grau    1.0    4.56   32    10   capital
3              casado  1°Grau    2.0    5.25   36     5   capital
4            solteiro  2°Grau    nan    5.73   20    10     outro
5            solteiro  1°Grau    nan       6   40     7     outro

Retirando a coluna Meses

In [ ]:
func = func.drop('Meses', axis=1)
func

            Est.Civil    Inst Filhos Salário Anos    Região
Funcionário
1            solteiro  1°Grau    nan     4.0   26  interior
2              casado  1°Grau    1.0    4.56   32   capital
3              casado  1°Grau    2.0    5.25   36   capital
4            solteiro  2°Grau    nan    5.73   20     outro
5            solteiro  1°Grau    nan       6   40     outro

Média da idade dos funcionários

In [ ]:
mediaIdades = func['Anos'].mean()
print("A média da idade dos funcionários é de:", mediaIdades)

A média da idade dos funcionários é de: 526472408.0

In [ ]:
# Filtrando os funcionários que têm filhos e contando a frequência de cada número de filhos
frequencia_filhos = func['Filhos'].value_counts()

# Obtendo o número mais comum de filhos
numero_mais_comum = frequencia_filhos.idxmax()

print("O número mais comum de filhos entre os funcionários que têm filhos é:", numero_mais_comum)

O número mais comum de filhos entre os funcionários que têm filhos é: nan

In [ ]:
# Convertendo a coluna 'Salário' para o tipo numérico
func['Salário'] = pd.to_numeric(func['Salário'], errors='coerce')

# Calculando a média dos salários
media_Salarios = func['Salário'].mean()

print("A média dos salários dos funcionários é de: ",media_Salarios)

A média dos salários dos funcionários é de:  5.108

In [ ]:
# Calculando a mediana dos salários
mediana_Salarios = func['Salário'].median()

print("A mediana dos salários dos funcionários é de: ",mediana_Salarios)

A mediana dos salários dos funcionários é de:  5.25

In [ ]:
#Tipo de instrução existente
tipos_instrucao = func['Inst'].unique()

print("Os tipos de instrução existentes são:", tipos_instrucao)

Os tipos de instrução existentes são: ['1°Grau' '2°Grau']

In [ ]:
# Convertendo as colunas Anos para o tipo numérico
func['Anos'] = pd.to_numeric(func['Anos'], errors='coerce')

# Filtrando as pessoas casadas
pessoas_casadas = func[func['Est.Civil'] == 'casado']

# Calculando a média de salário e idade das pessoas casadas
media_salario_casados = pessoas_casadas['Salário'].mean()
media_idade_casados = pessoas_casadas['Anos'].mean()

print("A média de salário das pessoas casadas é:", media_salario_casados)
print("A média de idade das pessoas casadas é:", media_idade_casados)

A média de salário das pessoas casadas é: 4.904999999999999
A média de idade das pessoas casadas é: 34.0

In [ ]:
# Identificando o funcionário com o maior salário
funcionario_maior_salario = func.loc[func['Salário'].idxmax()]

print("O funcionário com maior salário possui os seguintes atributos:")
print(funcionario_maior_salario)

O funcionário com maior salário possui os seguintes atributos:
Est.Civil    solteiro
Inst           1°Grau
Filhos            nan
Salário           6.0
Anos               40
Região          outro
Name: 5, dtype: object

In [ ]:
# Identificando o funcionários com menor idade
funcionario_menor_idade = func.loc[func['Anos'].idxmin()]

print("O funcionário com menor idade possui os seguintes atributos:")
funcionario_menor_idade

O funcionário com menor idade possui os seguintes atributos:

Est.Civil    solteiro
Inst           2°Grau
Filhos            nan
Salário          5.73
Anos               20
Região          outro
Name: 4, dtype: object

In [ ]:
# Filtrando os funcionários que possuem no máximo 35 anos, são da capital e têm instrução de 2º grau
func_filtrado = func[(func['Anos'] <= 35) & (func['Região'] == 'capital') & (func['Inst'] == '2°Grau')]

print("Os funcionários que possuem no máximo 35 anos, são da capital e têm instrução de 2º grau são:")
print(func_filtrado)

Os funcionários que possuem no máximo 35 anos, são da capital e têm instrução de 2º grau são:
Empty DataFrame
Columns: [Est.Civil, Inst, Filhos, Salário, Anos, Região]
Index: []

In [ ]:
# Mapeando os atributos qualitativos para atributos quantitativos
atrib_Q = pd.get_dummies(func, drop_first=True)

# Calculando a correlação entre todos os atributos
correlacao = atrib_Q.corr()

print("Matriz de correlação entre os atributos:")
print(correlacao)

Matriz de correlação entre os atributos:
                     Salário      Anos  Est.Civil_solteiro  Inst_2°Grau  \
Salário             1.000000  0.262162            0.224285     0.420833
Anos                0.262162  1.000000           -0.367452    -0.759434
Est.Civil_solteiro  0.224285 -0.367452            1.000000     0.408248
Inst_2°Grau         0.420833 -0.759434            0.408248     1.000000
Filhos_2.0          0.096074  0.365654           -0.612372    -0.250000
Filhos_nan          0.224285 -0.367452            1.000000     0.408248
Região_interior    -0.749651 -0.337526            0.408248    -0.250000
Região_outro        0.836373 -0.091863            0.666667     0.612372

                    Filhos_2.0  Filhos_nan  Região_interior  Região_outro
Salário               0.096074    0.224285        -0.749651      0.836373
Anos                  0.365654   -0.367452        -0.337526     -0.091863
Est.Civil_solteiro   -0.612372    1.000000         0.408248      0.666667
Inst_2°Grau          -0.250000    0.408248        -0.250000      0.612372
Filhos_2.0            1.000000   -0.612372        -0.250000     -0.408248
Filhos_nan           -0.612372    1.000000         0.408248      0.666667
Região_interior      -0.250000    0.408248         1.000000     -0.408248
Região_outro         -0.408248    0.666667        -0.408248      1.000000

In [ ]:
# Qual é a proporção de funcionários solteiros em relação ao total de funcionários?

# Contando o número de funcionários solteiros
num_solteiros = func[func['Est.Civil'] == 'solteiro'].shape[0]

# Calculando a proporção de funcionários solteiros em relação ao total
proporcao_solteiros = num_solteiros / func.shape[0]

# Contando o número de funcionários solteiros
num_solteiros = func[func['Est.Civil'] == 'solteiro'].shape[0]

# Calculando a proporção de funcionários solteiros em relação ao total
proporcao_solteiros = num_solteiros / func.shape[0]

print("A proporção de funcionários solteiros em relação ao total de funcionários é:", proporcao_solteiros)

A proporção de funcionários solteiros em relação ao total de funcionários é: 0.6
A proporção de funcionários solteiros em relação ao total de funcionários é: 0.6

In [ ]:
#Existe alguma diferença salarial significativa entre os funcionários
#que moram na capital e os que moram em outras regiões?

# Filtrando os funcionários que moram na capital e os que moram em outras regiões
func_capital = func[func['Região'] == 'capital']
func_outras_regioes = func[func['Região'] != 'capital']

# Obtendo os salários dos funcionários que moram na capital e os que moram em outras regiões
salarios_capital = func_capital['Salário'].astype(float)
salarios_outras_regioes = func_outras_regioes['Salário'].astype(float)

# Realizando o teste t de Student para comparar as médias dos salários
_, p_value = stats.ttest_ind(salarios_capital, salarios_outras_regioes, equal_var=False)

if p_value < 0.05:
    print("Existe uma diferença salarial significativa entre os funcionários que moram na capital e os que moram em outras regiões.")
else:
    print("Não há evidência de diferença salarial significativa entre os funcionários que moram na capital e os que moram em outras regiões.")

Não há evidência de diferença salarial significativa entre os funcionários que moram na capital e os que moram em outras regiões.

In [ ]:
#Existe alguma correlação entre a quantidade de anos de estudo (Inst)
#e o salário dos funcionários?

# Calculando a correlação entre a quantidade de anos de estudo (Inst) e o salário
correlation, p_value = pearsonr(func['Inst'], func['Salário'].astype(float))

print("A correlação entre a quantidade de anos de estudo (Inst) e o salário dos funcionários é:", correlation)
print("O valor-p é:", p_value)

A correlação entre a quantidade de anos de estudo (Inst) e o salário dos funcionários é: 0.42083319222796933
O valor-p é: 0.48044352249532907